<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">BOWTIE</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#contact">contacto</a>
                </li>
                <li>
                    <a class="page-scroll" href="#register">registrate</a>
                </li>
                <li>
                    <a class="page-scroll" href="#login">login</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="landing-container">
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Necesitas ayuda para administrar tu empresa?</h1>
            <hr>
            <p>BowTie es la herramienta ágil y rápida que podes usar para mejorar la gestión de tu negocio.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">enterate mas</a>
        </div>
    </div>
</header>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Somos la herramienta que quiere formar parte de tu equipo</h2>
                <hr class="light">
                <p class="text-faded">Probá nuestros diferentes módulos y empezá a tener una nueva experiencia de gestión.</p>
                <a href="#register" class="btn btn-default btn-xl">Crea tu usuario</a>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">¿En qué areas BowTie me puede ayudar?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-group wow bounceIn text-primary"></i>
                    <h3>Clientes/Proveedores</h3>
                    <p class="text-muted">Gestioná tus clientes y proveedores desde cualquier lugar del mundo.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-usd wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Compras/Ventas</h3>
                    <p class="text-muted">Generá una visión mas amplia con los reportes de los módulos de Compras y Ventas</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-line-chart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Stock</h3>
                    <p class="text-muted">Mantené tu stock actualizado y cruza información de reportes generados con el modulo de Stock.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-barcode wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Facturación electrónica</h3>
                    <p class="text-muted">BowTie ya viene integrado con los nuevos requerimientos de facturación electrónica.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Si ya queres empezar!</h2>
            <a href="#register" class="btn btn-default btn-xl wow tada">unite!</a>
        </div>
    </div>
</aside>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Estamos en contacto!</h2>
                <hr class="primary">
                <p>Estas listo para que empecemos a trabajar juntos? genial! Comunicate con nosotros!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>+54 11 3166 4609</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">hello@bowtie.com.ar</a></p>
            </div>
        </div>
    </div>
</section>
</div>