<div id="wrapper" ng-init='init()'>
    <div ng-include="'app/views/navbar-view.html'"></div>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="page-header">Stock</h1>
                    </div>
                </div>
                <div class="input-group form-group form-group-lg col-lg-4 ">
                  <input type="text" class="form-control" placeholder="Buscar en Stock..." ng-model="stockSearch">
                </div>
                <div class="col-lg-12 ">
                <div class="span4 pull-right">
                    <input data-wow-delay="1.5s"
                           id="confirmar"
                           class="btn btn-info pull-right bounceInRight animated" 
                           type="submit" 
                           value="Agregar Producto" 
                           ng-click="addPorudctoNuevo()">
                </div>
                </div>   

                        <table>
                            <col style="width:15%">
                            <col style="width:45%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <thead>
                                <tr>
                                    <th>Código de barras</th>
                                    <th>Descripción</th>
                                    <th>$ Contado</th>
                                    <th>$ Gremio</th>
                                    <th>$ Lista</th>
                                    <th>Cantidad</th>
                                </tr>
                             </thead>
                            <tr ng-repeat="producto in stockList 
                                          | filter:stockSearch
                                          | limitTo:cantidadFilas">
                                <td>
                                    <input ng-model="producto.codigoBarras" 
                                           type="text" 
                                           class="form-control">
                                </td>
                                <td>
                                    <input ng-model="producto.desc"
                                           type="text" 
                                           class="form-control"
                                           placeholder="{{producto.descripcion}}"
                                           popover="I appeared on focus! Click away and I'll vanish..."  popover-trigger="focus">
                                </td>
                                <td>
                                    <input ng-model="producto.precioContado" 
                                           type="text" 
                                           class="form-control">

                                </td>
                                <td>
                                    <input ng-model="producto.precioGremio" 
                                           type="text" 
                                           class="form-control">

                                </td>
                                <td>
                                    <input ng-model="producto.precioLista" 
                                           type="text" 
                                           class="form-control">

                                </td>
                                <td>
                                    <input ng-style="{'color':(producto.cantidad<0?'red':'blue')}"
                                           ng-model="producto.stock" 
                                           type="text" 
                                           class="form-control">
                                </td>
                                <td>
                                    <div class="span4">
                                        <input id="confirmar"
                                               class="btn btn-info" 
                                               type="submit" 
                                               value="Guardar" 
                                               ng-click="editar(producto)">
                                    </div>
                                </td>
                            </tr>
                        </table>
                
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
</div>